Library/
Packages/
ProjectSettings/
src/UnityShowAndroidStatusBar/.gradle/
src/UnityShowAndroidStatusBar/build/
src/UnityShowAndroidStatusBar/libs/classes.jar
Temp/
UnityPackageManager/
*.meta
*.csproj
*.sln
.vs/
